[v-cloak] {
  display: none;
}

body {
  background: #e5e5e5 !important;
}

#Shadowdivs {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}
footer {
  position: relative;
  right: 0px;
  bottom: 0px;
}
